{% load custom_filters %}

<div class="projects-grid">
  {% for project in projects %}
      <div class="project-card {% if project|isinstanceof:'ResearchLine' %}research-line-card{% endif %}">
          <div class="project-card-header">
              {% if project.image %}
                  <a href="{% if project|isinstanceof:'ResearchLine' %}{% url 'research_detail' project.slug %}{% else %}{% url 'project_detail' project.slug %}{% endif %}">
                      <img src="{{ project.image.url }}" alt="{{ project.title }}" class="project-image" style="width: 280px; height: auto;">
                  </a>
              {% endif %}
              <h3>
                  <a href="{% if project|isinstanceof:'ResearchLine' %}{% url 'research_detail' project.slug %}{% else %}{% url 'project_detail' project.slug %}{% endif %}">{{ project.title }}</a>
              </h3>
          </div>
          <div class="project-card-body">
      <p class="project-tagline">{% if project|isinstanceof:'ResearchLine' %} Research Line {% else %} Research Project{% endif %}</p>
              <p class="project-date">
                  {{ project.date|date:"M Y" }}
              </p>
          </div>
          <div class="project-card-footer">
              {% if project.github_link %}
                  <a href="{{ project.github_link }}" target="_blank" class="project-link">GitHub</a>
              {% endif %}
              {% if project.video_url%}
                  <a href="{{ project.video_url}}" target="_blank" class="project-link">Video</a>
              {% endif %}
          </div>
      </div>
  {% empty %}
      <p>No projects available yet.</p>
  {% endfor %}
</div>


