{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/talks.css' %}">
{% endblock %}

{% block title %}Talks{% endblock %}

{% block content %}
    <div class="talks-content">
        <div class="video-list">
            {% for talk in talks %}
            <div class="video-item">
                <div class="video-container">
                    <iframe src="{{ talk.video_url }}" title="{{ talk.title }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="video-description">
                    <h2>{{ talk.title }}</h2>
                    <p class="talk-meta">
                        {% if talk.location %}{{ talk.location }}{% endif %}
                        {% if talk.location and talk.language %} • {% endif %}
                        {% if talk.language %}{{ talk.language }}{% endif %}
                    </p>
 
                    {% if talk.date %}
                        <p class="talk-date">{{ talk.date|date:"F j, Y" }}</p>
                    {% endif %}
                    <p>{{ talk.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
